<html>
    <head>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    </head>
    <body>
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
              var latlng = { lat: 35.6585696, lng: 139.7454840 };
              map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 18
              });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF-KgF1vZ1VF7BTeFa9TjrDZoH16mm3vU&callback=initMap" async defer></script>
    </body>
</html>
